@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/geomuze-if.eot?-6ce72s');
	src:url('../../fonts/geomuze-if.eot?#iefix-6ce72s') format('embedded-opentype'),
		url('../../fonts/geomuze-if.woff?-6ce72s') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
	content: "\e911";
}

.icon-file-text:before {
	content: "\e922";
}

.icon-location:before {
	content: "\e947";
}

.icon-location2:before {
	content: "\e948";
}

.icon-map:before {
	content: "\e94b";
}

.icon-map2:before {
	content: "\e94c";
}

.icon-floppy-disk:before {
	content: "\e962";
}

.icon-search:before {
	content: "\e986";
}

.icon-enlarge:before {
	content: "\e989";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-heart:before {
	content: "\e9da";
}

.icon-heart-broken:before {
	content: "\e9db";
}

.icon-grin:before {
	content: "\e9e9";
}

.icon-grin2:before {
	content: "\e9ea";
}

.icon-wondering:before {
	content: "\e9fb";
}

.icon-wondering2:before {
	content: "\e9fc";
}

.icon-play3:before {
	content: "\ea1c";
}

.icon-pause2:before {
	content: "\ea1d";
}

.icon-radio-checked2:before {
	content: "\ea55";
}

.icon-github1:before {
	content: "\eab2";
}

.icon-github2:before {
	content: "\eab3";
}

