
/*@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Gochi+Hand|Architects+Daughter|Audiowide);*/

body {
	background: url(../images/bg4.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: 'Architects Daughter';
/*	font-family: 'Gochi Hand', cursive;*/
/*	font-family: 'Waiting for the Sunrise', cursive;*/
}

input, button {
	outline: none !important;
}

a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}

.disable {
	pointer-events: none;
	text-decoration: line-through;
}
.disable:link {
	text-decoration: line-through;
}

#page {
	margin-top: 60px;
}

.navbar {
	border-bottom: 4px solid #CC0000;
}

#main-message {

	font-family: 'Audiowide';

	/* WebKit (Safari/Chrome) Only */
	-webkit-text-stroke: 1px black;

	/* If we weren't using text-shadow, we'd set a fallback color
	and use this to set color instead
	-webkit-text-fill-color: white; */

	color: white;

	text-shadow:
		3px 3px 0 #000,
		/* Simulated effect for Firefox and Opera
		and nice enhancement for WebKit */
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;
}

#appConsole {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#searchbar {

}
input {
	height: 50px;
	width: 200px;
	padding: 10px;
	border-radius: 10px;
}
.search-btn {
	height: 50px;
	min-width: 60px;
	transform: translateX(-30px);
}
/*
#searchbar:hover {
	background: #d8d8c8;
	opacity: .9;
}
*/

#map-container {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 40px;


}

#map-canvas {
	height: 400px;
	width: 50%;
	margin: 20px;
	padding: 0;
	border-radius: 5px;

}

#list-container {
	width: 40%;
	height: 400px;
	margin: 20px;
	position: relative;

	border-radius: 5px;

/*	background: #d8d8c8;*/
	background: #FFF;
	opacity: .97;


}

.list-inform {
	position: absolute;
	display: none;
	background-color: #d8d8c8;
	padding: 10px;
	width: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #707070;
	z-index: 2;
}
.list-inform img {
	height: 50px;
}
.list-inform span {

}

.list-item-count {
	margin-left: 1em;
	text-decoration: none;
}

.list-head-btn {
	margin-left: 1em;
}

.track-list {
	position: absolute;
	margin: 20px;
	padding: 10px;
	width: 90%;
	max-height: 80%;
	overflow-y: scroll;
	background: #d8d8c8;
	opacity: .98;
	border: 2px solid #ED9C28;

	background-color: #fff;
	background-image:
		linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
		linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}
.track-list h3 {
	margin: 10px;
	text-decoration: underline;
}
.track-list ul {
	list-style:none;
	padding: 0;
}
.track-list li {
	margin: 10px;
	padding: 10px;
	border-bottom: 1px solid gray;


	-webkit-clip-path: polygon(1% 0%, 69% 0%, 69% 2%, 100% 3%, 100% 18%, 99% 23%, 100% 29%, 100% 49%, 99% 59%, 99% 70%, 100% 78%, 100% 93%, 100% 100%, 75% 100%, 34% 97%, 33% 100%, 0% 98%, 1% 86%, 0% 83%, 0% 66%, 1% 64%, 0% 45%, 1% 43%, 0% 24%, 1% 23%);
	clip-path: polygon(1% 0%, 69% 0%, 69% 2%, 100% 3%, 100% 18%, 99% 23%, 100% 29%, 100% 49%, 99% 59%, 99% 70%, 100% 78%, 100% 93%, 100% 100%, 75% 100%, 34% 97%, 33% 100%, 0% 98%, 1% 86%, 0% 83%, 0% 66%, 1% 64%, 0% 45%, 1% 43%, 0% 24%, 1% 23%);

/*
	-webkit-clip-path: polygon(2% 0%, 56% 0%, 55% 2%, 99% 1%, 100% 7%, 98% 9%, 99% 14%, 97% 15%, 99% 24%, 99% 25%, 100% 31%, 99% 34%, 100% 42%, 100% 47%, 100% 56%, 98% 59%, 99% 68%, 99% 73%, 100% 78%, 100% 85%, 100% 92%, 100% 97%, 100% 100%, 0% 100%, 0% 94%, 2% 91%, 0% 84%, 2% 84%, 0% 76%, 3% 75%, 0% 66%, 1% 66%, 0% 59%, 1% 57%, 0% 49%, 0% 48%, 0% 40%, 1% 38%, 0% 31%, 1% 30%, 0% 23%, 1% 22%, 0% 15%, 2% 13%, 0% 7%, 2% 1%);
	clip-path: polygon(2% 0%, 56% 0%, 55% 2%, 99% 1%, 100% 7%, 98% 9%, 99% 14%, 97% 15%, 99% 24%, 99% 25%, 100% 31%, 99% 34%, 100% 42%, 100% 47%, 100% 56%, 98% 59%, 99% 68%, 99% 73%, 100% 78%, 100% 85%, 100% 92%, 100% 97%, 100% 100%, 0% 100%, 0% 94%, 2% 91%, 0% 84%, 2% 84%, 0% 76%, 3% 75%, 0% 66%, 1% 66%, 0% 59%, 1% 57%, 0% 49%, 0% 48%, 0% 40%, 1% 38%, 0% 31%, 1% 30%, 0% 23%, 1% 22%, 0% 15%, 2% 13%, 0% 7%, 2% 1%);
*/
}
.track-list li:hover {
	box-shadow: inset 0 0 10px #CCCCCC;
	background: gray;
}
.result-track {
	font-size: 16px;
}
.result-artist {
	font-style: italic;
}

.result-selected {
	background: yellow;
}

.result-btn-panel {
	display: none;
}

footer {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: baseline;
	width: 100%;
	height: 100px;
	color: #d8d8c8;
	background: black;
	border-top: 4px solid #CC0000;
}

.site-texture {
	background-color: #000000;
	background-image: url(http://www.transparenttextures.com/patterns/lined-paper.png);
}

black-paper-texture {
	background-color: #000000;
	background-image: url(http://www.transparenttextures.com/patterns/lined-paper.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

wavecut-texture {
	background-color: #000000;
	background-image: url(http://www.transparenttextures.com/patterns/wavecut.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

dark-stripes-texture {
	background-color: #000000;
	background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}



/* Scott Andrew's HTML5 audio player styles*/

.infobox-player {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
}

.infobox-player img {
	max-height: 64px;
	max-width: 64px;
}

#jukebox {
	background-color:#CC0000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#FFF;
	padding:5px;
	font-family:helvetica, arial, verdana;
	font-weight:bold;
	width:180px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}
#jukebox .loader {
	border:1px solid #FFF;
	height:3px;
	margin:10px 0px;
	margin-top: 5px;
	width: 180px;
}
#jukebox .load-progress {
	width:0px;
	background-color:#FFF;
	height:3px;
}
#jukebox .play-progress {
	width:0px;
	background-color:#9999CC;
	height:3px;
}

#jukebox .controls {
	text-align:center;
}

/*#jukebox .controls a {*/
#jukebox a {
	display:inline-block;
	width:33px;
	height:33px;
	margin:0px 14px;
	overflow:hidden;
/*	background-image:url('../audio-controls.png');*/
/*	background-repeat:no-repeat;*/
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
}

#jukebox a:hover {
	color:#FF9900;
	text-decoration: none;
}

#jukebox a span {
	display:none;
}

#jukebox .controls a.play {
	background-position:top left;
}





.secret-embedded {
	display: none;
}

