
/*@import url(http://fonts.googleapis.com/css?family=Architects+Daughter|Audiowide);*/

.site-texture {
	background-color: #000;
	background-image: url(../images/line-texture.png);
}

body {
	background: url(../images/bg4.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Architects Daughter';
}

/* customize bootstrap btn styles */
input, button {
	outline: none !important;
}

a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}

.btn {
	box-shadow: -1px 6px 2px -2px #A07423;
	transition: all .3s ease;
}

.btn-sm, .btn-xs {
	transform: translateY(-5px);
	box-shadow: 0 4px 2px -1px #837F77;
}

.btn-sm:active, .btn-xs:active {
	transform: translateY(-3px);
	box-shadow: 0 1px 2px -1px #837F77;
}

.btn-danger {
	box-shadow: 0px 4px 2px -1px #900A0A;
}

/* disable user interaction on certain links */
.disable {
	pointer-events: none;
	text-decoration: line-through;
}

.disable:link {
	text-decoration: line-through;
}

#page {
	margin-top: 50px;
}

.navbar {
	border-bottom: 4px solid #CC0000;
}

#main-message {
	font-family: 'Audiowide';

	/* WebKit (Safari/Chrome) Only */
	-webkit-text-stroke: 1px black;

	/* If we weren't using text-shadow, we'd set a fallback color
	and use this to set color instead
	-webkit-text-fill-color: white; */

	color: white;

	text-shadow:
		3px 3px 0 #000,
		/* Simulated effect for Firefox and Opera
		and nice enhancement for WebKit */
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px  1px 0 #000,
		1px  1px 0 #000;
}

.brand-logo {
	background: #D8D8C8;
	border-radius: 12px;
	height: 32px;
	transform: rotateY(180deg) translateX(5px);
}

.brand-name {
	font-family: 'Audiowide';
	transform: translateY(-5px);
}

#about {
	background-color: #D8D8C8;
	padding: 20px;
	border: 2px solid #BFBFB5;
	border-radius: 0 0 14px 14px;
	box-shadow: inset 0 0 10px #000;
	transform: translateY(-10px);
}

#appConsole {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
}

#searchbar {
	height: 50px;
/*	width: 200px;*/
	padding: 10px;
	border-radius: 10px 0 0 10px;
}

.search-btn {
	height: 50px;
	min-width: 60px;
	border-radius: 0 10px 10px 0;
	transform: translate(-6px, -5px);
}

.search-btn:active {
	transform: translate(-6px, -1px);
	box-shadow: -1px 2px 2px -2px #A07423;
}

#map-container {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: 40px;
	width: 100%;
}

#map-canvas {
	height: 400px;
	width: 50%;
	margin: 20px;
	padding: 0;
	border-radius: 5px;
	border: 2px solid #ED9C28;
}

#list-container {
	width: 40%;
	height: 400px;
	margin: 20px;
	position: relative;
	border-radius: 5px;
	background: #FFF;
	opacity: .96;
}

.list-inform {
	position: absolute;
	display: none;
	background-color: #D8D8C8;
	padding: 10px;
	width: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #707070;
	z-index: 2;
}

.list-inform img {
	height: 50px;
}

.list-head-btn {
	margin-left: 1em;
}

#list-toggle {
	display: none;
	position: absolute;
	right: 0;
	height: 36px;
	width: 30px;
	background-color: #ED9C28;
}

#list-toggle:active {
	box-shadow: -1px 2px 2px -2px #A07423;
	transform: translateY(3px);
}

#list-toggle span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#list-storage {
	display: inline;
}

#list-options {
	display: inline;
}

#list-filter {
	margin-top: 10px;
}

#list-filter span {
	margin-left: 2em;
}

.list-filter-label {
	margin-left: 1em;
	margin-right: .5em;
}

.track-list {
	position: absolute;
	margin: 20px;
	padding: 10px;
	width: 90%;
	max-height: 80%;
	overflow-y: scroll;
	background: #d8d8c8;
	opacity: .98;
	border: 2px solid #ED9C28;
	background-color: #FFF;
	background-image:
		linear-gradient(90deg, transparent 79px, #ABCED4 79px, #abced4 81px, transparent 81px),
		linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

.track-list h3 {
	margin: 10px;
	text-decoration: underline;
}

.track-list ul {
	list-style:none;
	padding: 0;
}

.track-list li {
	margin: 10px;
	padding: 10px;
	border-bottom: 1px solid gray;
	-webkit-clip-path: polygon(1% 0%, 69% 0%, 69% 2%, 100% 3%, 100% 18%, 99% 23%, 100% 29%, 100% 49%, 99% 59%, 99% 70%, 100% 78%, 100% 93%, 100% 100%, 75% 100%, 34% 97%, 33% 100%, 0% 98%, 1% 86%, 0% 83%, 0% 66%, 1% 64%, 0% 45%, 1% 43%, 0% 24%, 1% 23%);
	clip-path: polygon(1% 0%, 69% 0%, 69% 2%, 100% 3%, 100% 18%, 99% 23%, 100% 29%, 100% 49%, 99% 59%, 99% 70%, 100% 78%, 100% 93%, 100% 100%, 75% 100%, 34% 97%, 33% 100%, 0% 98%, 1% 86%, 0% 83%, 0% 66%, 1% 64%, 0% 45%, 1% 43%, 0% 24%, 1% 23%);
}

.track-list li:hover {
	box-shadow: inset 0 0 10px #CCCCCC;
	background: #D8D8C8;
}

.result-track {
	font-size: 16px;
}

.result-artist {
	font-style: italic;
}

.result-selected {
	background-color: yellow;
	opacity: .9;
}

.result-btn-panel {
	display: none;
	margin-top: 14px;
}

.result-btn-panel button {
	margin-right: 20px;
}

footer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: baseline;
	align-items: baseline;
	width: 100%;
	height: 100px;
	color: #D8D8C8;
	background: black;
	border-top: 4px solid #CC0000;
}

/* based on Scott Andrew's HTML5 audio player */
.infobox-player {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.infobox-player img {
	max-height: 64px;
	max-width: 64px;
}

#jukebox {
	background-color:#CC0000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#FFF;
	padding:5px;
	font-family:helvetica, arial, verdana;
	font-weight:bold;
	width:180px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

#jukebox .loader {
	border:1px solid #FFF;
	height:3px;
	margin:10px 0;
	margin-top: 5px;
	width: 180px;
}

#jukebox .play-progress {
	width:0;
	background-color:#9999CC;
	height:3px;
}

#jukebox .controls {
	text-align:center;
}

#jukebox a {
	display:inline-block;
	width:33px;
	height:33px;
	margin:0 14px;
	overflow:hidden;
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
}

#jukebox a:hover {
	color:#FF9900;
	text-decoration: none;
}

#jukebox a span {
	display:none;
}

#jukebox .controls a.play {
	background-position:top left;
}

.secret-embedded {
	display: none;
}


/* RESPONSIVE CSS media queries
--------------------------------------------------
/* For smaller screens, map and list sections overlap.
		List section slides in and out of view as needed */
/* iphone5/ nexus5 screen considered baseline width*/
@media only screen and (max-width: 360px) {

	#main-message h1 {
		font-size: 30px;
	}

	#main-message h3 {
		display: none;
	}

	#list-container {

		margin: 20px 0;
	}

	#map-canvas {
		margin-right: 0;
	}

	footer h3, footer h4 {
		font-size: 14px;
	}
}

@media only screen and (max-width: 800px) {

	h3 {
		font-size: 22px;
	}

	#map-container {
		z-index: 3;
	}

	#list-container {
		min-width: 320px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		opacity: .95;
	}

	#map-canvas {
		width: 100%;
	}

	#list-storage {
		display: inline-block;
	}

	#list-filter {
		display: inline-block;
	}

	#list-toggle {
		display: inherit;
	}

	.list-inform {
		width: 90%;
	}
}

/* for tablets in portrait mode*/
@media only screen and (min-width: 768px) and (max-width: 900px) {

}

/* for larger device screens, increase name font and adjust spacing */
@media only screen and (min-width: 768px) {

}

