/* CSS reset applied? */



#page {
	margin-top: 80px;
}

#appConsole {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

input {
	height: 50px;
	width: 200px;
	padding: 10px;

}
.search-btn {
	height: 50px;
	min-width: 60px;
}
input, button {
	outline: none !important;
}

#map-container {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 40px;
}

#map-canvas {
	height: 400px;
	width: 50%;
	margin: 20px;
	padding: 0;
}

#list-container {
	width: 40%;
	height: 400px;
	margin: 20px;

	position: absolute;
}

.list-item-count {
	margin-left: 2em;
}

.track-list {
	position: absolute;
	margin: 20px;
	padding: 10px;

/*	z-index: 1;*/
	width: 90%;
	max-height: 90%;
	overflow-y: scroll;
	background: white;
/*	opacity: .9;*/
	border: 2px solid #ED9C28;
}
.track-list h3 {
	margin: 10px;
}
.track-list ul {
	list-style:none;
	padding: 0;
}
.track-list li {
	margin: 10px;
	padding: 10px;
	border-bottom: 1px solid gray;

}
.track-list li:hover {
	box-shadow: inset 0 0 10px #CCCCCC;
	background: gray;
}
.result-track {
	font-size: 16px;
}
.result-artist {
	font-style: italic;
}

.result-selected {
	background: yellow;
}

footer {
	width: 100%;
	height: 100px;
	background: black;
	border-top: 4px solid red;
}

.site-texture {
	background-color: #000000;
	background-image: url(http://www.transparenttextures.com/patterns/lined-paper.png);
}

black-paper-texture {
	background-color: #000000;
	background-image: url(http://www.transparenttextures.com/patterns/lined-paper.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

wavecut-texture {
	background-color: #000000;
	background-image: url(http://www.transparenttextures.com/patterns/wavecut.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

dark-stripes-texture {
	background-color: #000000;
	background-image: url(http://www.transparenttextures.com/patterns/dark-stripes.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}



/* Scott Andrew's HTML5 audio player styles*/
#jukebox {
	background-color:#cc0000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#fff;
	padding:10px;
	font-family:helvetica, arial, verdana;
	font-weight:bold;
	width:300px;
}
#jukebox .loader {
	border:1px solid #fff;
	height:3px;
	margin:10px 0px
}
#jukebox .load-progress {
	width:0px;
	background-color:#fff;
	height:3px;
}
#jukebox .play-progress {
	width:0px;
	background-color:#9999cc;
	height:3px;
}

#jukebox .controls {
	text-align:center;
}

#jukebox .controls a {
	display:inline-block;
	width:33px;
	height:33px;
	margin:0px 14px;
	overflow:hidden;
	background-image:url('../audio-controls.png');
	background-repeat:no-repeat;
}

#jukebox .controls a:hover {
	background-color:#ff9900;
}

#jukebox .controls a span {
	display:none;
}

#jukebox .controls a.prev {
	background-position:top -60px;
}
#jukebox .controls a.next {
	background-position:top -90px;
}
#jukebox .controls a.play {
	background-position:top left;
}
#jukebox .controls a.pause {
	background-position:top -30px;
}




