	<h3>FAVORITE TRACKS<small><span class="list-item-count" data-bind="text: fave_tracks().length"</span></small></h3>
	<ul data-bind="foreach: fave_tracks">
		<li data-bind="">
			<p class="result-track" data-bind="text: track_name"></p> by
			<span class="result-artist" data-bind="text: artist_name"></span>
			<div class="result-btn-panel" data-bind="">
				<button data-bind="click: $parent.doAction">rave</button>
				<button data-bind="click: $parent.removeFave.bind($data, $index())">unfave</button>
			</div>
		</li>

<!--		<track-item params="{track: $data, parent: $parent, delete:true, locate:true}" class="track-item" data-bind="click: $parent.selectTrack.bind($data, $index())"></track-item>-->
	</ul>
