<section id="about">
<h2>Man what is this</h2>
<p>Have you ever wondered if your city is mentioned in any song lyrics? ... No? Well, I have. This one time. Enjoy!</p>
<div>
	<h4>How to use</h4>
	<ol>
		<li> type a city name or some place</li>
		<li> check results! there might be song samples and links to lyrics if lucky!</li>
		<li> fave stuff ya like! It'll be added to a special list dubbed..."FAVES"</li>
		<li> inspect yer favoured tracks, save a FAVES list, or scatter em! ...ahem that means display all song locations at once. Its fun!</li>
		<li> shrug off any bugs or poor behaviour or crappy search results!</li>
	</ol>
</div>
</section>
